.order_container {
  flex: 1;
  padding: 20px;
}

.order_item {
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #eee;
}

.order_header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.order_header h3 {
  margin: 0;
}

.order_header p {
  margin: 5px 0;
}

.order_status select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.order_content {
  display: flex;
  flex-direction: column;
}

.order_left,
.order_right {
  margin-bottom: 20px;
  h3 {
    color: green;
  }
}

.order_items_table {
  width: 100%;
  border-collapse: collapse;
  img {
    width: 40px;
    height: 40px;
    object-fit: contain;
  }
}

.order_items_table th,
.order_items_table td {
  padding: 10px;
  text-align: left;
}

.order_status h4 {
  margin-top: 20px;
}

.order_status button {
  padding: 10px 20px;
  background-color: crimson;
  border-radius: 30px;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.order_status button:hover {
  background-color: darkred;
}

@media (min-width: 1100px) {
  .order_header {
    flex-direction: row;
    justify-content: space-between;
  }

  .order_content {
    flex-direction: row;
    justify-content: space-between;
  }

  .order_left {
    flex: 2;
  }

  .order_right {
    flex: 1;
    padding-left: 20px;
  }
}

@media (min-width: 768px) {
  .order_item_image {
    width: 75px;
    height: 75px;
  }
}

@media (min-width: 1024px) {
  .dashboard_container {
    flex-direction: row;
  }

  .order_container {
    padding: 40px;
  }

  .order_item {
    padding: 30px;
  }

  .order_item_image {
    width: 100px;
    height: 100px;
  }

  .order_status button {
    padding: 15px 30px;
  }
}
