@import "color";
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background-color: $nine;
  color: $first;
  position: sticky;
  top: 0;
  z-index: 1;
  padding-left: 1rem;
}

.navbar__logo {
  a {
    text-decoration: none;
    color: $four;
    font-size: 18px;
  }
}
.navbar__logo img {
  height: 40px;
}

.navbar__toggle {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.5s;
  transition: transform 0.5s ease;
  color: $eight;
}

.navbar__menu {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 2rem;

  .second_auth {
    display: none;
    width: 100%;
    padding: 10px 18px;
    outline: 0;
    border: 0;
    border-radius: 20px;
    cursor: pointer;
    background-color: $second;
    font-weight: 600;
    transition: all 0.5s;

    &:hover {
      border: 1.1px solid $second;
      background-color: transparent;
      color: $second;
    }
  }
}

.navbar__menu li {
  padding: 0.5rem 1rem;
}

.navbar__menu a {
  text-decoration: none;
  color: $eight;
  display: flex;
  align-items: center;
  transition: all 0.5s;
  font-size: 18px;
  font-weight: 600;
  &:hover {
    color: $twelve;
  }
}

.navbar__cart {
  font-size: 1.5rem;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  cursor: pointer;


}

.logOut_btn {
  padding: 10px 18px;
  outline: 0;
  border: 0;
  border-radius: 20px;
  cursor: pointer;
  background-color: $second;
  font-weight: 600;
  margin: 10px;
  transition: all 0.5s;
  &:hover {
    border: 1.1px solid $second;
    background-color: transparent;
    color: $second;
  }
}

.toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, color 0.3s ease;

  p {
    background-color: $third;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
    color: $first;
  }
  a {
    // img {
    //   // background-color: $four;
    //   // border-radius: 50%;
    // }
    sub {
      font-size: 19px;
      color: $four;
    }
  }
}
@media (max-width: 768px) {
  .navbar__menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 55px;
    left: 0;
    width: 100%;
    background-color: #eee;
    padding: 1rem 0;
    transition: transform 0.5s ease;
    transition: opacity 0.3s ease, max-height 0.3s ease;
    font-family: Arial, sans-serif;
    a {
      color: black;
    }
    .logOut_btn {
      display: block;
    }
    .second_auth {
      display: block;
      width: 100%;
    }
  }

  .navbar__menu.active {
    display: flex;
  }

  .navbar__toggle {
    display: block;
  }

  .navbar__cart {
    button {
      display: none;
    }
  }
}
